<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_77ce21c0e6987b0025adf701ff895bff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_77ce21c0e6987b0025adf701ff895bff" ></div>
        
</body>
<script>
    
    
            var map_77ce21c0e6987b0025adf701ff895bff = L.map(
                "map_77ce21c0e6987b0025adf701ff895bff",
                {
                    center: [-35.0, -65.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2c88a527612aa1588d424cd1317a479a = L.tileLayer(
                "https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=sk.eyJ1Ijoid3JkZXZpcmdpIiwiYSI6ImNseDkwNGhxdzFkYmgyam4yZHVydmlobDMifQ.5o9KG5do8zdy60BiHOkGKw",
                {"attribution": "Map data \u0026copy; \u003ca href=\"https://www.openstreetmap.org/\"\u003eOpenStreetMap\u003c/a\u003e contributors, Imagery \u00a9 \u003ca href=\"https://www.mapbox.com/\"\u003eMapbox\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_2c88a527612aa1588d424cd1317a479a.addTo(map_77ce21c0e6987b0025adf701ff895bff);
        
    
            var marker_3dc51b1cdbd83f36026f87e72df16b8e = L.marker(
                [-34.6037, -58.3816],
                {}
            ).addTo(map_77ce21c0e6987b0025adf701ff895bff);
        
    
        var popup_5c8500abbd988e29c39c96c9f685fde6 = L.popup({"maxWidth": "100%"});

        
            
                var html_977aa030fd9de870b253245b76fd77ec = $(`<div id="html_977aa030fd9de870b253245b76fd77ec" style="width: 100.0%; height: 100.0%;">Trabajo 1</div>`)[0];
                popup_5c8500abbd988e29c39c96c9f685fde6.setContent(html_977aa030fd9de870b253245b76fd77ec);
            
        

        marker_3dc51b1cdbd83f36026f87e72df16b8e.bindPopup(popup_5c8500abbd988e29c39c96c9f685fde6)
        ;

        
    
    
            var marker_76fdcfc9c9676d819d2c5c3ef109c754 = L.marker(
                [-37.9799, -57.5898],
                {}
            ).addTo(map_77ce21c0e6987b0025adf701ff895bff);
        
    
        var popup_e71dacae774547b226a9b989a961733a = L.popup({"maxWidth": "100%"});

        
            
                var html_97414db3c497fecc5a5d737c17eeb443 = $(`<div id="html_97414db3c497fecc5a5d737c17eeb443" style="width: 100.0%; height: 100.0%;">Trabajo 2</div>`)[0];
                popup_e71dacae774547b226a9b989a961733a.setContent(html_97414db3c497fecc5a5d737c17eeb443);
            
        

        marker_76fdcfc9c9676d819d2c5c3ef109c754.bindPopup(popup_e71dacae774547b226a9b989a961733a)
        ;

        
    
    
            var marker_5639dc4c921be5977ea791ef6080326e = L.marker(
                [-34.9205, -57.9536],
                {}
            ).addTo(map_77ce21c0e6987b0025adf701ff895bff);
        
    
            var icon_37b5e5a5e64ff9feff136d58ca14ea72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5639dc4c921be5977ea791ef6080326e.setIcon(icon_37b5e5a5e64ff9feff136d58ca14ea72);
        
    
        var popup_4b87b4e0710e51754140f2fddeffc0cf = L.popup({"maxWidth": "100%"});

        
            
                var html_bbce86ba862f91b974430d0cdac6029a = $(`<div id="html_bbce86ba862f91b974430d0cdac6029a" style="width: 100.0%; height: 100.0%;">Profesional 1</div>`)[0];
                popup_4b87b4e0710e51754140f2fddeffc0cf.setContent(html_bbce86ba862f91b974430d0cdac6029a);
            
        

        marker_5639dc4c921be5977ea791ef6080326e.bindPopup(popup_4b87b4e0710e51754140f2fddeffc0cf)
        ;

        
    
    
            var marker_eafd16682b7adf962b3bcb4f8cc6a8b2 = L.marker(
                [-38.7196, -62.2724],
                {}
            ).addTo(map_77ce21c0e6987b0025adf701ff895bff);
        
    
            var icon_d09bac90a5f618c24d2b717ec811d5d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eafd16682b7adf962b3bcb4f8cc6a8b2.setIcon(icon_d09bac90a5f618c24d2b717ec811d5d3);
        
    
        var popup_ea49fab77f3d9fec60156f0a96005abf = L.popup({"maxWidth": "100%"});

        
            
                var html_8ac6762db948766da7378b8a2095d7bc = $(`<div id="html_8ac6762db948766da7378b8a2095d7bc" style="width: 100.0%; height: 100.0%;">Profesional 2</div>`)[0];
                popup_ea49fab77f3d9fec60156f0a96005abf.setContent(html_8ac6762db948766da7378b8a2095d7bc);
            
        

        marker_eafd16682b7adf962b3bcb4f8cc6a8b2.bindPopup(popup_ea49fab77f3d9fec60156f0a96005abf)
        ;

        
    
</script>
</html>